.modal-img{
    width: 100%;
    height: 25% !important;

}
.modal-heading{
   
    text-align: center;
    padding: 1%;
    color: #183883!important ;
    font-weight: 600;
}
/* .modal-button:hover{
    color: #FFA500;
} */