@media (min-width: 992px) {

    .nav-menu {
        background: var(--bs-primary);
        position: relative;
        bottom: -35px;
        z-index: 9;
        padding: 4px 10px;
        left: 0px;
        --bs-navbar-active-color: #ffffff;
    }

    .nav-menu .dropdown-menu {
        border-radius: 0;
        padding: 0;
    }

    .nav-menu .submenu a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--bs-primary);
    }

    .nav-menu .submenu .show {
        color: var(--bs-primary);
    }

    .nav-menu .submenu:hover>a {
        color: #fff !important;
    }

    .nav-menu .submenu .dropdown-menu {
        left: 100%;
        top: 0;
    }

    .nav-menu::before {
        border-left: 70px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 55px solid var(--bs-primary);
        content: "";
        position: absolute;
        left: -70px;
        z-index: 1;
        bottom: 0;
    }

    .nav-menu a {
        color: #fff;
        padding: 12px 18px !important;
    }

    .nav-menu a:hover,
    .nav-menu a:focus {
        color: #fff;
        text-decoration: underline;
    }

    a.dropdown-item {
        color: var(--bs-primary);
    }

    a.dropdown-item:hover,
    a.dropdown-item:focus {
        background-color: var(--bs-primary);
        text-decoration: underline;
    }

    .submenu>a {
        color: var(--bs-primary);
    }

    .submenu:hover,
    .submenu:focus {
        background-color: var(--bs-primary);
        text-decoration: underline;
    }

   
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    background-color: #ffffff;
    color: var(--bs-primary);
}

/*-------------------------------------------service page----------------------------------*/

.servc-ft-img {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
}

@media(max-width:767px) {
    .nav-menu .submenu {
        padding: 0px 10px;
    }

    /* .right-logo {
        display: none;
    } */
}

@media(max-width:992px) {
    .right-logo {
        display: none;
    }
}

section#contact {
    margin-top: 80px !important;
}

.view-more-button{
    background: var(--bs-primary);
    border-radius: 23px;
    padding: 8px;
    width: 130px;
    color: white;
}