section{
    display: flex;
    margin-top: 140px;
    padding: 48px;
}

.modal-img{
    width: 100%;
    height: 50% !important;

}
.modal-heading{
   
    text-align: center;
    padding: 1%;
    color: #183883!important ;
    font-weight: 600;
}
p{
    font-family: 'open_sansregular';
    overflow-x: hidden;
    font-size: 18px;
    color: #333;

}
 .section-subtitle {
    margin-top: 15px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
 .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    position: relative;
}
span{
    font-family: 'open_sansregular';
    overflow-x: hidden;
    font-size: 18px;
    color: #333;
}
/* .modal-button:hover{
    color: #FFA500;
} */

@media screen and  (min-width: 200px)  and (max-width: 620px){
    .enquiry-img{
        display: none;
    }
}
.lines{
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #183883;
    margin-top: 15px;
}

.section-header{
    padding: 41px;
}

.styles_lightroomcontent__1SCaZ{
    margin-top:12%;
}

.aboutPage{
    margin-top: 80px;
}
section{
    margin-top: 0px !important;
    padding: 0px !important;
}